<div class="panel panel-<%= feature.enabled? ? "success" : "danger" %> <%= feature.id %>">
  <div class="panel-heading">
    <%= feature.id %>
  </div>
  <div class="panel-body">
    <p>
      <%= feature.description %>
    </p>
  </div>

  <ul class="list-group enablements">
    <%= render feature.enablements %>
  </ul>

  <% if feature.dependants.present?  %>
    <%= render "dependants", feature: feature %>
  <% end %>
</div>
