<div class="panel panel-<%= feature.enabled? ? "success" : "danger" %> <%= feature.id %>">
  <div class="panel-heading">
    <%= feature.id %>
  </div>
  <div class="panel-body">
    <p>
      <%= feature.description %>
    </p>

    <div class="panel panel-default">
      <div class="panel-heading">
        Enablements
        <span class="badge pull-right"><%= feature.enablements.count %></span>
      </div>

      <ul class="list-group enablements">
        <%= render feature.enablements %>
      </ul>
    </div>

    <% if feature.dependants.present?  %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Dependants
        <span class="badge pull-right"><%= feature.dependants.count %></span>
        </div>

        <%= render "dependants", feature: feature %>
      </div>
    <% end %>
  </div>
</div>
